# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongo connection string"
GITHUB_ID="oauth app id"
GITHUB_SECRET="oauth app secret"

NEXTAUTH_URL=http://localhost:5001
NEXTAUTH_SECRET="<auth secret used by next auth / any string | current this secret is being used to sign the token>"
# NODE_TLS_REJECT_UNAUTHORIZED=0